<h1>Login Form</h1>

<%= form_for :user do |f| %>
    <%= f.text_field :username, placeholder: set_ph('username', @user) %><br/>
    <%= f.password_field :password, placeholder: set_ph('password', @user) %><br/>
    <%= f.submit :Login %>
<% end %>
