<h1>Login Form</h1>

<%= form_for :user do |f| %>
    <%= f.text_field :username, placeholder: @user && !@user.errors[:username].empty? ? @user.errors[:username] : "Username" %><br/>
    <%= f.password_field :password, placeholder: @user && !@user.errors[:password].empty? ? @user.errors[:password] : "Password" %><br/>
    <%= f.submit :Login %>
<% end %>
