<div class='profile'>
<h2 class='tight'><%= link_to user.username, user_path(user) %></h2>
<p>Teas: <%= user.teas.size %> | Posts: <%= user.posts.size %> | Contributions: <%= 'user.contributions' %></p>
</div>