.field_with_errors input, .field_with_errors textarea {
    border: 1px solid red;
    padding: 5px;
    margin: 5px;
    width: 50%;
    line-height: 30px;
    font-size: 18px;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    background-image: url('pexels-photo-900103.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 18px;
  }

  h2.tight {
    margin-top: 25px;
    }

.tight {
    line-height: 50%;
}

.tight-title {
    margin-top: 75px;
    font-size: 120%;
    color: #ccc;
    line-height: 75%;
    border-bottom: 1px solid #ccc;
}

.wrapper {
    background: rgba(255,255,255,0.75);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
    overflow: auto;
}

.profile {
    border-bottom: 1px solid #ccc;
  }

  .header {
    text-align: center;
    display: inline;
  }

  .navbar {
    overflow: auto;
    text-align: center;
  }

  button {
    width: 24%;
    padding: 7px;
  }

a {
    color: #333;
    text-decoration: none;
}

a:hover {
  color: #ccc;
}

input {
  padding: 5px;
  margin: 5px;
  width: 50%;
  line-height: 30px;
  font-size: 18px;
}

textarea {
  padding: 5px;
  margin: 5px;
  width: 50%;
  line-height: 15px;
  font-size: 18px;
}

#deny a{
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

#deny {
  margin-left: 6px;
  margin-top: 0px;
  width: 25%;
  height: 35px;
}

#approve  {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  margin-left: 6px;
  margin-top: 0px;
  width: 25%;
  height: 35px;
}

.page-title {
  margin-bottom: 50px;
  padding: 5px;
  color: #333;
  border-bottom: 1px solid #333;
}

button.selected {
  background-color: #d89e13;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  padding: 2px;
  color: white;
}

button.rate-button {
  background-color: #ccc;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  padding: 2px;
  color: white;
}

.hide-profile{
  display: none;
}

.hide-form{
  display: none;
}

.hide{
  display: none;
}

#search{
  width: 40%;
  float: right;
}

.toggle-nav{
  font-size: 1.5em;
  line-height: 2em;
  padding-left: 8px;
}

.side-bar{
  width: 25%;
  float: left;
  display: block;
  border-right: 1px solid #ddd;
}

.main-area{
  margin-left: 1%;
  width: 73%;
  float: right;
}

.widget{
  width: 50%;
  font-size: 2em;
  color: #888;
  text-align: center;
  overflow: auto;
  margin: 25px 0px;

}

.timebox{
  width: 45%;
  padding: 5px 0px;
  margin: 0px;
  background: white;
  border: 0px;
  text-align: center;
  font-size: 1em;
  color: #aaa;
}

.timebox::placeholder{
  color: #aaa;
}

.timer{
  width: 100%;
  background: white;
  height: 50px;
  font-size: 1em;
  color: #aaa;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
